.menu-btn {
  position: fixed;
  z-index: 3;
  left: 30px;
  top: 30px;
  cursor: pointer; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: #373737;
    transition: all 0.2s ease-out; }
  .menu-btn.close {
    transform: rotate(90deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6.5px, -6.5px); }

.menu {
  position: fixed;
  top: 0;
  width: 33vw;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: start;
    float: left;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding-top: 8rem;
    background-color: rgba(234, 215, 215, 0.95);
    list-style: none;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.2s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item.current > a {
    color: #803d6c; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem 0;
    text-decoration: none;
    color: #373737;
    transition: all 0.2s ease-out; }
    .menu .nav-link:hover {
      color: #803d6c; }

.branding {
  background: linear-gradient(rgba(243, 232, 232, 0.5), rgba(243, 232, 232, 0.5)), url(../img/branding_background.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 7rem 3rem 3rem 3rem;
  z-index: -2; }
  .branding .icons {
    margin-top: 2.5rem;
    padding-left: 4rem;
    background: rgba(234, 215, 215, 0.5);
    margin-right: -5rem;
    margin-left: -3rem;
    text-decoration: none;
    color: #373737; }
    .branding .icons a {
      padding: 0.5rem;
      color: setTextColor(#f3e8e8); }
      .branding .icons a:any-link {
        color: #373737; }
      .branding .icons a:hover {
        color: #803d6c;
        transition: all 0.2s ease-out; }

.best-sellers {
  display: grid;
  grid-template-areas: 'heading heading heading' 'product1 product2 product3';
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 2rem;
  align-items: flex-start;
  justify-items: center; }
  .best-sellers h1 {
    justify-self: start;
    grid-area: heading;
    padding-left: 2rem; }
  .best-sellers .product1 {
    grid-area: product1; }
  .best-sellers .product2 {
    grid-area: product2; }
  .best-sellers .product3 {
    grid-area: product3; }
  .best-sellers .product {
    display: flex;
    padding: 2rem;
    background: #ead7d7;
    flex-direction: column;
    justify-content: flex-start;
    color: #373737; }
    .best-sellers .product img {
      max-height: 18rem;
      width: auto;
      justify-content: center;
      align-items: center; }
    .best-sellers .product:hover {
      padding: 3rem;
      transition: all 0.2s ease-out; }
  .best-sellers a {
    text-decoration: none; }

#main-footer {
  display: flex;
  height: 2rem;
  background: #e2c6c6;
  color: #373737;
  align-items: center;
  padding-left: 2rem; }

* {
  box-sizing: border-box; }

body {
  background: #f3e8e8;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #373737; }

main {
  min-height: calc(100vh - 2rem); }

.text-accent {
  color: #803d6c; }

@media screen and (max-width: 500px) {
  .best-sellers {
    grid-template-areas: 'heading' 'product1' 'product2' 'product3';
    grid-template-columns: 1fr; }
    .best-sellers .product {
      width: 80vw; }
      .best-sellers .product img {
        display: inline-block;
        width: 100%;
        max-height: auto; }
  #main-footer {
    justify-content: center; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  .best-sellers {
    grid-template-areas: 'heading' 'product1' 'product2' 'product3';
    grid-template-columns: 1fr; }
    .best-sellers .product {
      width: 80vw; }
      .best-sellers .product img {
        display: inline-block;
        width: 100%;
        max-height: auto; }
  #main-footer {
    justify-content: center; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .best-sellers .product img {
    max-width: 30vw;
    height: autos; } }
