// Colors
$text-color: #373737;
$accent-color: #803d6c;
$background-color: #f3e8e8;

// Transition
@mixin myTransition {
    transition: all 0.2s ease-out;
}

// Responsiveness
@mixin mediaSmall {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMedium {
    @media screen and (min-width: 501px) and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLarge {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXLarge {
    @media screen and (min-width: 1171px) {
        @content;
    }
}