// Smartphones
@include mediaSmall {
    .best-sellers {
        grid-template-areas: 
            'heading'
            'product1'
            'product2'
            'product3';
        grid-template-columns: 1fr;

        .product {
            width: 80vw;
            img {
                display: inline-block;
                width: 100%;
                max-height: auto;
            }
        }
        
    }

    #main-footer {
        justify-content: center;
    }
}

// Tablets & small laptops 
@include mediaMedium {
    .best-sellers {
        grid-template-areas: 
            'heading'
            'product1'
            'product2'
            'product3';
        grid-template-columns: 1fr;

        .product {
            width: 80vw;
            img {
                display: inline-block;
                width: 100%;
                max-height: auto;
            }
        }
    }

    #main-footer {
        justify-content: center;
    }
}

// Desktops & laptops
@include mediaLarge {
    .best-sellers {
        .product {
            img {
                max-width: 30vw;
                height: autos;
            }
        }
    }
}

// Widescreens
@include mediaXLarge {

}