@import "config";
@import "menu";
@import "branding";
@import "home";
@import "footer";

* {
    box-sizing: border-box;
}

body {
    background: $background-color;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $text-color;
}

main {
    min-height: calc(100vh - 2rem);
}

.text-accent {
    color: $accent-color;
}

@import "responsiveness"; 